Options -Indexes

<IfModule mod_rewrite.c>
RewriteEngine on

RewriteCond $1 !^(index\.php|api\.php|iframe\.php|assets|robots\.txt|favicon\.ico)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^api/.*$ /api.php/?op=rewrite
RewriteRule ^button/.*$ /api.php/?op=buttonrewrite

</IfModule>



